
body {
    background-color: rgba(55, 6, 23, 1);
    margin: 0;
}

.flex_squares {
    display: flex;
    height: 100vh; 
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.container {
    position: relative;
    width: 42%;
    min-height: 20%;
    padding: 15px;
    display: flex;
    background-color: #F48C06;
    margin-bottom: 15px;
    margin-inline-end: 15px;
    border-radius: 8px;
}

.box {
    background-color: rgba(157, 2, 8, 1);
    border: rgba(157, 2, 8, 1);
    border-radius: 4px;
    min-width: 80px;
    min-height: 80px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 80px;
}